@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Dosis:300,400,700);
/*
 * Base structure
 */
.flotar {
  display: inline-block;
  vertical-align: top;
  width: 40%; }

.tools {
  background: black;
  top: 0;
  position: absolute;
  width: auto; }
  .tools span {
    color: white;
    display: inline-block;
    font-size: 0.7em;
    height: 20px;
    line-height: 60px;
    margin-left: -4px;
    text-align: center;
    text-shadow: 0 0 3px black;
    width: 30px; }
  .tools .c1 {
    background: #f2f6f7; }
  .tools .c2 {
    background: #dad5e2; }
  .tools .c3 {
    background: #969696; }
  .tools .c4 {
    background: #9e9e9e; }
  .tools .c5 {
    background: #ebe7f2; }
  .tools .c6 {
    background: #dbd7e3; }
  .tools .c7 {
    background: #222026; }
  .tools .c8 {
    background: #2c2a31; }
  .tools .c9 {
    background: #8c8598; }
  .tools .c10 {
    background: #c2347c; }
  .tools .c11 {
    background: #1f0830; }
  .tools .c12 {
    background: #be9bcd; }

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  background: url("../images/bg-admin.jpg");
  background-size: cover;
  padding-top: 10px; }

#admin-perfumeria .box-login {
  box-shadow: 0 2px 2px #c2347c;
  font-family: "movistar_textregular";
  margin: 120px auto 0;
  width: 400px; }
  #admin-perfumeria .box-login header {
    background: #c2347c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    #admin-perfumeria .box-login header h2 {
      color: white;
      margin: 0; }
  #admin-perfumeria .box-login .cont-login {
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    overflow: hidden;
    padding-bottom: 10px; }
    #admin-perfumeria .box-login .cont-login .par-1 {
      color: #dad5e2; }
    #admin-perfumeria .box-login .cont-login .input-1 {
      border: 1px solid #f2f6f7;
      display: block;
      height: 30px;
      width: 90%; }
    #admin-perfumeria .box-login .cont-login .btn-1 {
      background: #c2347c;
      border: 0;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      display: block;
      float: right;
      font-size: 1em;
      text-align: center;
      margin-right: 20px;
      padding: 10px 20px;
      width: 100px; }
    #admin-perfumeria .box-login .cont-login .legal {
      color: #dad5e2;
      float: left;
      font-size: 0.8em;
      margin: 20px 0 0 20px; }
#admin-perfumeria .alerta {
  color: #FF8200;
  background: black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
  max-width: 400px;
  width: 100%; }
#admin-perfumeria #app {
  max-width: 1100px;
  margin: 70px auto;
  width: 100%; }
  #admin-perfumeria #app .alertOk {
    background: #c2347c;
    border-left: 7px solid black;
    box-shadow: 0 2px 2px #969696;
    color: white;
    display: block;
    margin-top: 10px;
    padding: 10px 20px; }
  #admin-perfumeria #app .top-1 {
    background: url("../images/admin/head1.jpg") repeat-x;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    #admin-perfumeria #app .top-1 .titu-1 {
      color: #2c2a31;
      font-size: 1em;
      float: left; }
    #admin-perfumeria #app .top-1 .cuenta {
      cursor: pointer;
      float: right;
      margin-top: 4px;
      position: relative;
      width: 130px;
      text-align: right; }
      #admin-perfumeria #app .top-1 .cuenta:hover .control {
        background: #c2347c;
        color: white; }
      #admin-perfumeria #app .top-1 .cuenta img {
        border-radius: 30px;
        box-shadow: 0 0 2px #969696;
        height: 35px;
        margin: 0 5px;
        width: 35px;
        position: relative; }
      #admin-perfumeria #app .top-1 .cuenta .control {
        background: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 0 5px;
        margin: 5px 0 0 -10px;
        display: inline-block; }
      #admin-perfumeria #app .top-1 .cuenta .panelControl {
        background: #c2347c;
        left: 0;
        position: absolute;
        display: none;
        top: 40px;
        width: 130px;
        z-index: 10; }
        #admin-perfumeria #app .top-1 .cuenta .panelControl::before {
          content: ".";
          background: #c2347c;
          color: #c2347c;
          display: block;
          text-align: center;
          position: relative;
          left: 68%;
          top: -5px;
          width: 20px;
          transform: rotate -50deg;
          -webkit-transform: rotate(-50deg);
          -moz-transform: rotate(-50deg);
          -o-transform: rotate(-50deg); }
        #admin-perfumeria #app .top-1 .cuenta .panelControl ul {
          list-style: none;
          margin: 0;
          padding: 0 10px 5px; }
          #admin-perfumeria #app .top-1 .cuenta .panelControl ul li {
            padding: 0; }
            #admin-perfumeria #app .top-1 .cuenta .panelControl ul li a {
              color: white;
              font-size: 0.8em;
              padding: 0; }
  #admin-perfumeria #app .wrapper {
    background: white;
    display: block;
    padding: 0; }
    #admin-perfumeria #app .wrapper .menuAdmin {
      background: #2c2a31;
      color: #8c8598;
      min-height: 600px;
      padding: 0; }
      #admin-perfumeria #app .wrapper .menuAdmin .encabezado-1 {
        font-size: 0.7em;
        margin: 0;
        padding: 10px;
        background: #222026; }
      #admin-perfumeria #app .wrapper .menuAdmin .list-menu {
        list-style: none;
        margin: 0;
        padding: 0; }
        #admin-perfumeria #app .wrapper .menuAdmin .list-menu li {
          cursor: pointer;
          padding: 2px 10px;
          transition: all 0.7s ease; }
          #admin-perfumeria #app .wrapper .menuAdmin .list-menu li:hover {
            background: #3b75f6; }
          #admin-perfumeria #app .wrapper .menuAdmin .list-menu li:hover a {
            color: white; }
          #admin-perfumeria #app .wrapper .menuAdmin .list-menu li .ico {
            background: #222026;
            display: inline-block;
            height: 20px;
            width: 20px; }
          #admin-perfumeria #app .wrapper .menuAdmin .list-menu li a {
            color: #8c8598;
            font-size: 0.9em; }
    #admin-perfumeria #app .wrapper .listado {
      border-right: 1px solid #dbd7e3;
      border-bottom: 1px solid #dbd7e3;
      padding: 0; }
      #admin-perfumeria #app .wrapper .listado .encabezado-1 {
        color: #2c2a31;
        background: #f2f6f7;
        height: 33px;
        padding: 0; }
        #admin-perfumeria #app .wrapper .listado .encabezado-1 h2 {
          margin: 0;
          font-size: 0.8em;
          padding: 10px 7px 0; }
      #admin-perfumeria #app .wrapper .listado .box-solicitud {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 566px;
        overflow: scroll; }
        #admin-perfumeria #app .wrapper .listado .box-solicitud li {
          border-bottom: 1px solid #dad5e2;
          cursor: pointer; }
          #admin-perfumeria #app .wrapper .listado .box-solicitud li .fecha {
            background: #dad5e2;
            border-top: 1px solid #dbd7e3;
            border-bottom: 1px solid #dbd7e3;
            height: 25px;
            padding: 0; }
            #admin-perfumeria #app .wrapper .listado .box-solicitud li .fecha .dia {
              color: #8c8598;
              float: right;
              font-size: 0.7em;
              padding: 5px 10px; }
          #admin-perfumeria #app .wrapper .listado .box-solicitud li .cont-solicitud {
            cursor: pointer;
            position: relative;
            width: 100%;
            transition: all 0.7s ease; }
            #admin-perfumeria #app .wrapper .listado .box-solicitud li .cont-solicitud:hover {
              background: #1f0830; }
            #admin-perfumeria #app .wrapper .listado .box-solicitud li .cont-solicitud:hover .data-1 {
              color: #be9bcd; }
            #admin-perfumeria #app .wrapper .listado .box-solicitud li .cont-solicitud:hover .mail {
              color: #be9bcd; }
            #admin-perfumeria #app .wrapper .listado .box-solicitud li .cont-solicitud::before {
              content: "";
              background: white;
              height: 25px;
              right: -13px;
              position: absolute;
              top: 40%;
              width: 20px;
              transform: rotate -50deg;
              -webkit-transform: rotate(-50deg);
              -moz-transform: rotate(-50deg);
              -o-transform: rotate(-50deg); }
            #admin-perfumeria #app .wrapper .listado .box-solicitud li .cont-solicitud td {
              padding: 2px 5px; }
            #admin-perfumeria #app .wrapper .listado .box-solicitud li .cont-solicitud .nombre {
              color: #c2347c;
              font-size: 1em;
              font-weight: bold;
              padding-top: 5px; }
            #admin-perfumeria #app .wrapper .listado .box-solicitud li .cont-solicitud .id {
              color: #2c2a31;
              font-size: 0.8em;
              text-align: right; }
            #admin-perfumeria #app .wrapper .listado .box-solicitud li .cont-solicitud .mail {
              color: #2c2a31;
              font-size: 0.8em;
              width: 100%; }
            #admin-perfumeria #app .wrapper .listado .box-solicitud li .cont-solicitud .data-1 {
              color: #2c2a31;
              font-size: 0.8em; }
          #admin-perfumeria #app .wrapper .listado .box-solicitud li .active {
            background: #1f0830; }
            #admin-perfumeria #app .wrapper .listado .box-solicitud li .active .data-1 {
              color: #be9bcd; }
            #admin-perfumeria #app .wrapper .listado .box-solicitud li .active .mail {
              color: #be9bcd; }
    #admin-perfumeria #app .wrapper .cont-datos {
      background: white;
      border-right: 1px solid #dbd7e3;
      border-bottom: 1px solid #dbd7e3;
      padding-bottom: 40px;
      display: block;
      height: 600px;
      overflow: scroll; }
      #admin-perfumeria #app .wrapper .cont-datos .fecha {
        font-size: 0.8em;
        padding: 10px;
        text-align: right; }
      #admin-perfumeria #app .wrapper .cont-datos .box-photo {
        margin-top: 30px; }
        #admin-perfumeria #app .wrapper .cont-datos .box-photo img {
          width: 100%; }
      #admin-perfumeria #app .wrapper .cont-datos .titu-2 {
        background: url("../images/admin/separator.png") repeat-x 0 5px;
        padding: 0; }
        #admin-perfumeria #app .wrapper .cont-datos .titu-2 span {
          background: white;
          color: #c2347c;
          display: inline;
          font-weight: bold;
          padding: 0 20px; }
      #admin-perfumeria #app .wrapper .cont-datos .par-1 {
        margin: 20px 20px 7px;
        font-size: 0.9em; }
      #admin-perfumeria #app .wrapper .cont-datos .queEs .titu-3 {
        color: #1f0830;
        display: inline;
        font-weight: bold;
        padding: 0 20px;
        margin: 0; }
      #admin-perfumeria #app .wrapper .cont-datos .queEs .par-1 {
        margin-top: 0px;
        font-style: italic; }
      #admin-perfumeria #app .wrapper .cont-datos section {
        margin-bottom: 10px; }
      #admin-perfumeria #app .wrapper .cont-datos .table-1 {
        margin: 10px 10px 10px 20px; }
        #admin-perfumeria #app .wrapper .cont-datos .table-1 tr td:nth-child(odd) {
          color: #1f0830;
          font-weight: bold;
          vertical-align: top; }
      #admin-perfumeria #app .wrapper .cont-datos .btn-2 {
        background: #dbd7e3;
        color: #2c2a31;
        text-align: center;
        padding: 10px 20px;
        margin: 10px 5px 0; }
      #admin-perfumeria #app .wrapper .cont-datos .btn-3 {
        color: white;
        background: #c2347c;
        text-align: center;
        padding: 10px 20px;
        margin: 10px 5px 0; }
#admin-perfumeria .titu-1 {
  color: #0a6f94;
  font-size: 0.8em;
  display: block; }
#admin-perfumeria .titu-2 {
  color: #0a6f94;
  font-size: 1em;
  font-weight: normal;
  margin: 0; }
#admin-perfumeria .titu-3 {
  color: #3b75f6;
  font-size: 1em;
  font-weight: normal;
  margin: 0 0 10px; }
#admin-perfumeria .titu-4 {
  color: black;
  font-size: 1em;
  font-weight: normal;
  text-shadow: 0 0px 1px #fff;
  margin: 0;
  padding: 10px; }
#admin-perfumeria .titu-5 {
  background: #32ccb7;
  color: white;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0;
  padding: 10px; }
#admin-perfumeria .par-1 {
  font-size: 0.8em;
  line-height: 1.2em;
  text-align: justify;
  height: auto;
  margin: 0 auto;
  padding-top: 10px;
  width: 90%; }
#admin-perfumeria .label-Facebook {
  background: #3b5998;
  border: none;
  color: white;
  padding: 10px;
  margin-top: -10px;
  position: relative;
  top: 18px; }
#admin-perfumeria .label-twee {
  background: #9ae4e8;
  border: none;
  color: #0a6f94;
  padding: 10px;
  margin-top: -10px;
  position: relative;
  top: 18px; }
#admin-perfumeria .label-youtube {
  background: #b50505;
  border: none;
  color: white;
  padding: 10px;
  margin-top: -10px;
  position: relative;
  top: 18px; }
#admin-perfumeria .img1 {
  padding: 10px 0; }
  #admin-perfumeria .img1 img {
    width: 100%; }
#admin-perfumeria .input-1 {
  border: none;
  margin: 10px;
  padding: 5px;
  width: 35%; }
#admin-perfumeria .input-2 {
  display: inline-block;
  border: 1px solid #dde7ec;
  color: #0a6f94;
  font-size: 0.9em;
  margin: 20px 0; }
#admin-perfumeria .textarea-1 {
  display: block;
  height: 150px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  width: 100%; }
#admin-perfumeria .titu-form {
  display: inline-block;
  color: #0a6f94;
  padding: 0 20px;
  width: 130px; }
#admin-perfumeria .titu-form-2 {
  display: inline-block;
  color: #0a6f94;
  padding: 0 20px;
  width: auto; }
#admin-perfumeria .select-1 {
  border: 1px solid #dde7ec;
  color: #0a6f94;
  font-size: 0.9em;
  margin: 20px 0; }
#admin-perfumeria .btn-1 {
  margin: 0 0 0 100px;
  width: 12%; }
#admin-perfumeria label.error {
  color: #8e05fa;
  display: block;
  font-size: 0.9em;
  font-weight: normal;
  margin: -10px 0 0 18px; }
#admin-perfumeria .select-1 {
  display: inline-block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
#admin-perfumeria .cont-form {
  width: 800px;
  margin: 0 auto; }
  #admin-perfumeria .cont-form header {
    padding-top: 50px; }
    #admin-perfumeria .cont-form header h2 {
      color: white;
      font-family: "movistar_headlineregular"; }
    #admin-perfumeria .cont-form header p {
      color: white; }
  #admin-perfumeria .cont-form #steps {
    list-style: none;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px; }
  #admin-perfumeria .cont-form #steps li {
    font-size: 24px;
    float: left;
    padding: 10px;
    color: #b0b1b3; }
    #admin-perfumeria .cont-form #steps li span {
      font-size: 11px;
      display: block; }
    #admin-perfumeria .cont-form #steps li .current {
      color: #000; }
  #admin-perfumeria .cont-form #makeWizard {
    background-color: #b0232a;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 18px; }
  #admin-perfumeria .cont-form #makeWizard:hover {
    background-color: #000; }
  #admin-perfumeria .cont-form .form-trabaja {
    color: white; }
    #admin-perfumeria .cont-form .form-trabaja fieldset {
      border: none; }
    #admin-perfumeria .cont-form .form-trabaja .form-group {
      clear: both;
      margin: 5px 0; }
    #admin-perfumeria .cont-form .form-trabaja .prev, #admin-perfumeria .cont-form .form-trabaja .next {
      background-color: #b0232a;
      padding: 5px 10px;
      color: #fff;
      text-decoration: none; }
    #admin-perfumeria .cont-form .form-trabaja .prev:hover, #admin-perfumeria .cont-form .form-trabaja .next:hover {
      background-color: #000;
      text-decoration: none; }
    #admin-perfumeria .cont-form .form-trabaja .prev {
      float: left; }
    #admin-perfumeria .cont-form .form-trabaja .next {
      float: right; }
    #admin-perfumeria .cont-form .form-trabaja fieldset {
      border: none; }
    #admin-perfumeria .cont-form .form-trabaja legend {
      font-size: 18px;
      margin: 0px;
      padding: 10px 0px;
      color: white;
      font-weight: bold; }
    #admin-perfumeria .cont-form .form-trabaja label {
      display: block;
      margin: 15px 0 5px; }
  #admin-perfumeria .cont-form #steps {
    width: 50%;
    position: relative;
    left: 65%;
    top: 40px; }
    #admin-perfumeria .cont-form #steps li {
      background: #969696;
      border-radius: 10px;
      color: #ebe7f2;
      font-size: 1.5em;
      font-weight: bold;
      margin: 5px;
      text-align: center; }
    #admin-perfumeria .cont-form #steps .current {
      background: #c2347c;
      color: white; }
#admin-perfumeria #contReporte {
  display: none; }
#admin-perfumeria .cont-filtros {
  background: #dad5e2;
  padding: 10px 0;
  margin-top: 30px; }
  #admin-perfumeria .cont-filtros .filtros {
    margin: 10px 40px 0; }
#admin-perfumeria .box-cont {
  padding: 0;
  margin: 0 5px;
  width: 19%; }
#admin-perfumeria .box-post {
  border: 1px solid #f2f6f7;
  box-shadow: 0 2px 3px #f2f6f7;
  margin: 10px 0;
  padding: 10px;
  position: relative;
  overflow: hidden; }
  #admin-perfumeria .box-post .aprobado {
    margin: 0 0 10px; }
  #admin-perfumeria .box-post .msnRepor {
    background: white;
    padding: 10px;
    position: absolute;
    top: -179px;
    left: 0;
    z-index: 20; }
    #admin-perfumeria .box-post .msnRepor .box-msn {
      height: 100px;
      width: 100%; }
#admin-perfumeria .eFacebook .msnRepor {
  border-bottom: 2px solid #3b5998; }
#admin-perfumeria .eTwee .msnRepor {
  border-bottom: 2px solid #9ae4e8; }
#admin-perfumeria .eYoutube .msnRepor {
  border-bottom: 2px solid #b50505; }

@media (max-width: 1046px) {
  #cont-appMerk .box-cont {
    width: 32%; }
  #cont-appMerk .box-cont:nth-last-child(1) {
    width: 48.5%; }
  #cont-appMerk .box-cont:nth-last-child(2) {
    width: 48.5%; } }
@media (max-width: 800px) {
  #cont-appMerk .box-cont {
    width: 48.5%; }
  #cont-appMerk .box-cont:nth-last-child(1) {
    width: 98%; } }
@media (max-width: 768px) {
  #cont-appMerk .box-cont {
    width: 98%; }
  #cont-appMerk .box-cont:nth-last-child(2) {
    width: 98%; }
  #cont-appMerk .box-cont:nth-last-child(1) {
    width: 98%; } }
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px; } }
