@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Dosis:300,400,700);

//----------------------------------    [Color]
$cn:black;
$cb: white;
$cg1: #f2f6f7;
$cg2: #DAD5E2;
$cg3: #969696;
$cg4: #9e9e9e;
$cg5: #EBE7F2;
$cg6: #DBD7E3;
$cg7: #222026;
$cg8: #2C2A31;
$cg9: #8C8598;
$cg10: #8C8598;

$cr1:#C2347C;
$cr2:#1F0830;
$cr3:#be9bcd;
$ca1:#3B75F6;
$ca2:#0a6f94;
$ca3:#dde7ec;
$cv1:#26803e;
$cv2:#74a93a;
$cv3:#9dbb40;
$cmo:#803d8b;
$cna:#e3b022;
$cfu:#be2e7e;


$cp1:#119cc0;
$cp2:#32ccb7;
$cp3:#f9fcfe;

$cFace: #3b5998;
$cTwee: #9AE4E8;
$cYoutube: #B50505;
$cReportes: #E49A39;

//--------------------------------------    [Fonts]
$f1:'movistar_headlinebold';
$f2:'movistar_headlineregular';
$f3:'movistar_textregular';
$f4:'movistar_textbold';
$f5:'movistar_textitalic';
$f6:'movistar_marketregular';
/*
 * Base structure
 */
.flotar{
        display: inline-block;
        vertical-align: top;
        width: 40%;
}

.tools{
      background: $cn;
      top: 0;
      position: absolute;
      width:auto;
span{
        color: $cb;
        display: inline-block;
        font-size: 0.7em;
        height: 20px;
        line-height: 60px;
        margin-left: -4px;
        text-align: center;
        text-shadow:0 0 3px $cn;
        width: 30px;
}
.c1{  background: $cg1;}
.c2{  background: $cg2;}
.c3{  background: $cg3;}
.c4{  background: $cg4;}
.c5{  background: $cg5;}
.c6{  background: $cg6;}
.c7{  background: $cg7;}
.c8{  background: $cg8;}
.c9{  background: $cg9;}
.c10{  background: $cr1;}
.c11{  background: $cr2;}
.c12{  background: $cr3;}
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
          background: url('../images/bg-admin3.jpg');
          background-size: cover;
          padding-top: 10px;
}
#admin-perfumeria{
// .......................................................................................... [ Login ]
.box-login{
          box-shadow: 0 2px 2px $cr1;
          font-family: $f3;
          margin: 120px auto 0;
          width: 400px;
header{
          background:$cr1;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
h2{
          color: $cb;
          margin: 0;
}
}
.cont-login{
          background: $cb;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          display: block;
          overflow: hidden;
          padding-bottom: 10px;
.par-1{
          color: $cg2;
}
.input-1{
          border: 1px solid $cg1;
          display: block;
          height: 30px;
          width: 90%;
}
.btn-1{
        background: $cr1;
        border: 0;
        border-radius: 5px;
        color: $cb;
        cursor: pointer;
        display: block;
        float: right;
        font-size: 1em;
        text-align:center;
        margin-right: 20px;
        padding:10px 20px;
        width: 100px;
}
.legal{
        color: $cg2;
        float: left;
        font-size: 0.8em;
        margin:20px 0 0 20px;
}
}
}
// ..................................................................................................................... [ Base ]
#app{
        max-width: 1100px;
        margin: 70px auto;
        width: 100%;
.alertOk{
        background: $cr1;
        border-left: 7px solid $cn;
        box-shadow: 0 2px 2px $cg3;
        color: $cb;
        display: block;
        margin-top: 10px;
        padding:10px 20px;
}

.top-1{
        background: url('../images/admin/head1.jpg') repeat-x;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
.titu-1{
        color: $cg8;
        font-size:1em;
        float: left;
}
.cuenta{
        cursor: pointer;
        float: right;
        margin-top: 4px;
        position: relative;
        width: 130px;
        text-align: right;
        &:hover .control{
          background:$cr1;
          color: $cb;
        }
img{
          border-radius: 30px;
          box-shadow: 0 0 2px $cg3;
          height: 35px;
          margin: 0 5px;
          width: 35px;
          position: relative;
}
.control{
        background: $cb;
        border-top-right-radius:10px; 
        border-bottom-right-radius:10px; 
        padding:0 5px;
        margin:5px 0 0 -10px;
        display:inline-block;
}
.panelControl{
        background: $cr1;
        left: 0;
        position: absolute;
        display: none;
        top: 40px;
        width: 130px;
        z-index: 10;
        &::before{
          content:".";
          background: $cr1;
          color: $cr1;
          display: block;
          text-align: center;
          position: relative;
          left: 68%;
          top: -5px;
          width: 20px;

          transform:rotate (-50deg);
          -webkit-transform: rotate(-50deg);
          -moz-transform: rotate(-50deg);
          -o-transform: rotate(-50deg);
        }
ul{
        list-style: none;
        margin: 0;
        padding:0 10px 5px;
li{
        padding: 0;
a{
        color:$cb;
        font-size: 0.8em;
        padding: 0;
}  
}
}
}
}
}
.wrapper{
        background: $cb;
        display: block;
        padding: 0;
// ..................................................................................................................... [ Menu Principal ]
.menuAdmin{
        background: $cg8;
        color: $cg9;
        min-height:600px;
        padding: 0;
.encabezado-1{
        font-size: 0.7em;
        margin: 0;
        padding:10px;
        background: $cg7;
}
.list-menu{
        list-style: none;
        margin: 0;
        padding: 0;
li{     
        cursor: pointer;
        padding:2px 10px;
        transition: all 0.7s ease;
        &:hover{
            background: $ca1;
        }
        &:hover a{
            color: $cb;
        }
.ico{
        background: $cg7;
        display: inline-block;
        height:20px;
        width: 20px
}
a{
        color: $cg9;
        font-size: 0.9em;
}  
}
}
}

// ..................................................................................................................... [ Listado Solicitud ]
.listado{
        border-right: 1px solid $cg6;
        border-bottom: 1px solid $cg6;
        padding: 0;
.encabezado-1{
        color:$cg8;
        background: $cg1;
        height: 33px;
        padding: 0;
h2{
        margin: 0;
        font-size: 0.8em;
        padding: 10px 7px 0;
}
}
.box-solicitud{
      list-style: none;
      margin: 0;
      padding:0;
      height:566px;
      overflow:scroll; 
li{
      border-bottom: 1px solid $cg2;
      cursor: pointer;
.fecha{
        background: $cg2;
        border-top:1px solid $cg6;
        border-bottom:1px solid $cg6;
        height: 25px;
        padding: 0;
.dia{
        color: $cg9;
        float: right;
        font-size: 0.7em;
        padding: 5px 10px;
}
}  
.cont-solicitud{
        cursor: pointer;
        position: relative;
        width: 100%;

        transition:all 0.7s ease;
        &:hover{
          background:$cr2;
      }
      &:hover .data-1{
          color:$cr3;
      }
      &:hover .mail{
          color:$cr3;
      }
    &::before{
            content: "";
            background: $cb;
            height: 25px;
            right: -13px;
            position: absolute;
            top: 40%;
            width:20px;

            transform:rotate (-50deg);
          -webkit-transform: rotate(-50deg);
          -moz-transform: rotate(-50deg);
          -o-transform: rotate(-50deg);
        }
td{
        padding:2px 5px;
}
.nombre{
        color: $cr1;
        font-size: 1em;
        font-weight: bold;
        padding-top: 5px;
}
.id{
        color: $cg8;
        font-size: 0.8em;
        text-align: right;
}
.mail{
        color: $cg8;
        font-size:0.8em;
        width: 100%;
}
.data-1{
          color: $cg8;
          font-size: 0.8em;
}
}
.active{
          background:$cr2;
 .data-1{
          color:$cr3;
}
.mail{
          color:$cr3;
      }
}
}
}
}
// ..................................................................................................................... [ Contenido Solicitud ]
.cont-datos{
          background:$cb;
          border-right: 1px solid $cg6;
          border-bottom: 1px solid $cg6;
          padding-bottom: 40px;
          display: block;
          height:600px;
          overflow:scroll; 
.fecha{
          font-size: 0.8em;
          padding: 10px;
          text-align: right;
}
.titu-2{
           background: url('../images/admin/separator.png') repeat-x 0 5px;
           padding: 0;
span{
          background: $cb;
          color:$cr1;
          display: inline;
          font-weight: bold;
          padding: 0 20px;
}
}
.par-1{
        margin: 20px 20px 7px;
        font-size: 0.9em;
}
.queEs{
.titu-3{
        color:$cr2;
        display: inline;
        font-weight: bold;
        padding: 0 20px;
        margin: 0;
}
.par-1{
        margin-top:0px;
        font-style: italic;
}
}
section{
          margin-bottom: 10px;
}
.table-1{
          margin: 10px 10px 10px 20px;
tr{
td:nth-child(odd){
          color:$cr2;
          font-weight:bold;
          vertical-align: top;
}  
}
}
.btn-2{
          background: $cg6;
          color: $cg8;
          text-align: center;
          padding:10px 20px;
          margin: 10px 5px 0;
}
.btn-3{
          color:$cb;
          background: $cr1;
          text-align: center;
          padding:10px 20px;
          margin: 10px 5px 0;
}
}
}
}

// ..................................................................................................................... [ Titulos ]
.titu-1{
            color:$ca2;
            font-size: 0.8em;
            display: block;

}
.titu-2{
            color:$ca2;
            font-size: 1em;
            font-weight: normal;
            margin: 0;
}
.titu-3{
            color:$ca1;
            font-size: 1em;
            font-weight: normal;
            margin:0 0 10px;
}
.titu-4{
            color:$cn;
            font-size: 1em;
            font-weight: normal;
            text-shadow:0 0px 1px #fff;
            margin:0;
            padding:10px;
}
.titu-5{
            background: $cp2;
            color:$cb;
            font-size: 1.2em;
            font-weight: normal;
            margin:0;
            padding:10px;
}
// ..................................................................................................................... [ Parrafos ]
.par-1{
            font-size: 0.8em;
            line-height: 1.2em;
            text-align: justify;
            height: auto;
            margin: 0 auto;
            padding-top: 10px;
            width: 90%;
}
// ..................................................................................................................... [ Labels ]
.label-Facebook{
               background: $cFace;
              border: none;
              color: $cb;
              padding:10px;
              margin-top: -10px;
              position: relative;
              top: 18px;
}
.label-twee{
               background: $cTwee;
              border: none;
              color: $ca2;
              padding:10px;
              margin-top: -10px;
              position: relative;
              top: 18px;
}
.label-youtube{
              background: $cYoutube;
              border:none;
              color: $cb;
              padding:10px;
              margin-top: -10px;
              position: relative;
              top: 18px;
}
// ..................................................................................................................... [ Imagenes ]
.img1{
            padding: 10px 0;
img{
            width:100%;
}
}
// ..................................................................................................................... [ Formularios ]
.input-1{
            border:none;
            margin: 10px;
            padding: 5px;
            width: 35%;
}
.input-2{
            display: inline-block;
            border:1px solid $ca3;
            color: $ca2;
            font-size: 0.9em;
            margin: 20px 0;
}
.textarea-1{
                display: block;
                height: 150px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857;
                color: #555555;
                background-color: white;
                background-image: none;
                border: 1px solid #cccccc;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
                -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
                transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
                width:100%;
}
.titu-form{
            display: inline-block;
            color: $ca2;
            padding: 0 20px;
            width: 130px;
}
.titu-form-2{
            display: inline-block;
            color: $ca2;
            padding: 0 20px;
            width: auto;
}
.select-1{
              border:1px solid $ca3;
              color: $ca2;
              font-size: 0.9em;
              margin: 20px 0;
}
.btn-1{
            margin: 0 0 0 100px;
            width: 12%;
}
label.error {
            color: rgb(142, 5, 250);
            display: block;
            font-size: 0.9em;
            font-weight: normal;
            margin:-10px 0 0 18px;

}
.select-1 {
                display: inline-block;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857;
                color: #555555;
                background-color: white;
                background-image: none;
                border: 1px solid #cccccc;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
                -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
                transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
// ..................................................................................................................... [ Estructura ]
#contReporte{
        display: none;
}
.cont-filtros{
        background: $cg2;
        padding: 10px 0;
        margin-top:30px;
.filtros{
        margin: 10px 40px 0;
}
}
.box-cont{
        padding:0;
        margin: 0 5px;
        width: 19%;
}
.box-post{
            border: 1px solid $cg1;
            box-shadow: 0 2px 3px $cg1;
            margin: 10px 0;
            padding: 10px;
            position: relative;
            overflow: hidden;
.aprobado{
            margin: 0 0 10px;
  }
.msnRepor{
            background: $cb;
            padding:10px;
            position: absolute;
            top: -179px;
            left: 0;
            z-index: 20;
.box-msn{
            height: 100px;
            width: 100%;
}
}
}
// ................................................................................................... [ Post Facebook]
.eFacebook{
.msnRepor{
              border-bottom: 2px solid $cFace;
}
}

// ................................................................................................... [ Post Twitter]
.eTwee{
.msnRepor{
              border-bottom: 2px solid $cTwee;
}
}

// ................................................................................................... [ Post Youtube]
.eYoutube{
.msnRepor{
              border-bottom: 2px solid $cYoutube;
}
}
}

//...................................................................................................................... 1046px
@media (max-width: 1046px) {
#cont-appMerk{

.box-cont{
             // width: 18.9%;
              width: 32%;
}
.box-cont:nth-last-child(1){
               width: 48.5%;
}
.box-cont:nth-last-child(2){
                 width: 48.5%;
}
}

}
//...................................................................................................................... 1046px
@media (max-width: 800px) {
#cont-appMerk{

.box-cont{
             // width: 18.9%;
               width: 48.5%;
}
.box-cont:nth-last-child(1){
               width: 98%;
}
}
}

//...................................................................................................................... 1046px
@media (max-width: 768px) {
#cont-appMerk{
.box-cont{
               width: 98%;
}
.box-cont:nth-last-child(2){
               width: 98%;
}
.box-cont:nth-last-child(1){
               width: 98%;
}
}
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}