<header class="row fecha">
            <span class="dia col-md-12">03 JULIO DE 2015</span>
</header>
<section class="row">
  <h2 class="titu-2 col-md-12">Datos Aromas</h2>
  <table class="table-1 col-md-4">
      <tr>
        <td>Nombre:</td><td>Stefany Rodriguez</td>
      </tr>
      <tr>
              <td>Sexo:</td><td>Femenino</td>
      </tr>
  </table>
  <table class="table-1 col-md-6">
      <tr>
        <td>Mail:</td><td colspan="4">StefanyRodriguez-2015@hotmail.com</td>
      </tr>
      <tr>
              <td>Celular:</td><td>3182567849</td>
              <td>Ciudad:</td><td>Bogotá</td>
      </tr>
  </table>
</section>
<section class="row">
  <h2 class="titu-2 col-md-12">Descripción Aroma</h2>
  <p class="par-1">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos modi placeat, alias repudiandae aliquid! Suscipit, molestiae, minima. Provident ducimus velit blanditiis laboriosam labore, minus deserunt molestiae, laborum excepturi voluptate sit.
  </p>
</section>
<section class="row">
  <h2 class="titu-2 col-md-12">Perfil Aroma</h2>
  <table class="table-1 col-md-4">
      <tr>
        <td>Edad:</td><td>20 años</td>
      </tr>
      <tr>
              <td>Estatura:</td><td>1.60cm</td>
      </tr>
      <tr>
              <td>Ojos:</td><td>Negro</td>
      </tr>
      <tr>
              <td>Píel:</td><td>Morena</td>
      </tr>
      <tr>
              <td>Color Favorito:</td><td>background del td</td>
      </tr>
      <tr>
              <td colspan="2">Operaciones:</td>
      </tr>
      <tr>
              <td colspan="2">Naríz Senos Abdomen</td>
      </tr>
  </table>
  <table class="table-1 col-md-6">
      <tr>
          <td>Peso:</td><td>67 Kg</td>
      </tr>
      <tr>
            <td>Busto:</td><td>32</td>
      </tr>
      <tr>
            <td>Cabello:</td><td>Rubío</td>
      </tr>
      <tr>
            <td>Tatuajes:</td><td>No</td>
      </tr>
  </table>
</section>
<section class="row">
  <h2 class="titu-2 col-md-12">Pefil Sexual</h2>
  <table class="table-1 col-md-4">
      <tr>
        <td>Experiencia:</td><td>Si</td>
      </tr>
      <tr>
            <td>Tiempo:</td><td>2 años</td>
      </tr>
      <tr>
            <td>Actividad Secual:</td><td>2 a 3 veces al mes</td>
      </tr>
  </table>
  <div class="queEs">
      <h3 class="titu-3 col-md-12">¿Qué es el sexo?</h3>
      <p class="par-1 col-md-12">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate libero voluptate accusamus molestiae temporibus officia quibusdam rerum, error quisquam non culpa ipsam veniam ab! Porro necessitatibus magnam, vitae soluta nulla?
      </p>    
  </div>
</section>      
<section class="row">
  <h2 class="titu-2 col-md-12">Mis Servicios</h2>
  <table class="table-1 col-md-4">
      <tr>
        <td>Sexo Oral:</td><td>Si</td>
      </tr>
      <tr>
              <td>Sexo Anal:</td><td>No</td>
      </tr>
      <tr>
              <td>Servicio a Hombres:</td><td>No</td>
      </tr>
      <tr>
              <td>Lluvía Dorada:</td><td>Si</td>
      </tr>
      <tr>
              <td>Baila:</td><td>Si</td>
      </tr>
  </table>
  <table class="table-1 col-md-6">
      <tr>
          <td>Tríos:</td><td>Si</td>
      </tr>
      <tr>
            <td>Trio HMH:</td><td>Si</td>
      </tr>
      <tr>
            <td>Trio MHM:</td><td>Si</td>
      </tr>
      <tr>
            <td>Masajes:</td><td>Si</td>
      </tr>
       <tr>
              <td>Encuentros:</td><td>Hotel / Residencia</td>
      </tr>
  </table>
</section>
<section>
      <a href="#" class="btn-2">Rechazada</a>
      <a href="#" class="btn-3">Bienvenida al Club</a>
</section>