<header class="row fecha">
            <span class="dia col-md-12">03 JULIO DE 2015</span>
</header>
<section class="row">
  <h2 class="titu-2 col-md-12"> <span>Datos Aromas</span></h2>
  <table class="table-1 col-md-4 col-xs-12">
      <tr>
        <td>Nombre:</td><td>Stefany Rodriguez</td>
      </tr>
      <tr>
              <td>Sexo:</td><td>Femenino</td>
      </tr>
  </table>
  <table class="table-1 col-md-6 col-xs-12">
      <tr>
        <td>Correo:</td><td colspan="4">StefanyRodriguez-2015@hotmail.com</td>
      </tr>
      <tr>
              <td>Celular:</td><td>3182567849</td>
              <td>Ciudad:</td><td>Bogotá</td>
      </tr>
  </table>
</section>
<section class="row">
  <h2 class="titu-2 col-md-12"><span>Descripción Aroma</span></h2>
  <p class="par-1">
    Soy una chica que cuida mucho su cuerpo, me gustas disfrutar al máximo los placeres de la vida y sé que tengo todo los que se necesita para trabajar en un club como este.
  </p>
</section>
<section class="row">
  <h2 class="titu-2 col-md-12"><span>Perfil Aroma</span></h2>
  <table class="table-1 col-md-6 col-xs-12">
      <tr>
        <td>Edad:</td><td>20 años</td>
      </tr>
      <tr>
              <td>Estatura:</td><td>1.60cm</td>
      </tr>
      <tr>
              <td>Ojos:</td><td>Negro</td>
      </tr>
      <tr>
              <td>Píel:</td><td>Morena</td>
      </tr>
      <tr>
              <td>Operaciones:</td><td>Naríz, Senos, Abdomen, Cola</td>
      </tr>
      <tr>
              <td>Color Favorito:</td><td bgcolor="#78cd78"></td>
      </tr>
      <tr>
              <td>Fecha de nacimiento:</td><td>10 de Agosto del 1993</td>
      </tr>
  </table>
  <table class="table-1 col-md-4 col-xs-12">
      <tr>
          <td>Peso:</td><td>67 Kg</td>
      </tr>
      <tr>
            <td>Busto:</td><td>32</td>
      </tr>
      <tr>
            <td>Cabello:</td><td>Rubío</td>
      </tr>
      <tr>
            <td>Tatuajes:</td><td>No</td>
      </tr>
  </table>
</section>
<section class="row">
  <h2 class="titu-2 col-md-12"><span>Perfil Sexual</span></h2>
  <table class="table-1 col-md-6 col-xs-12">
      <tr>
        <td>Experiencia:</td><td>Si</td>
      </tr>
      <tr>
            <td>Tiempo:</td><td>2 años</td>
      </tr>
      <tr>
            <td>Actividad Sexual:</td><td>2 a 3 veces al mes</td>
      </tr>
  </table>
  <div class="queEs">
      <h3 class="titu-3 col-md-12">¿Qué es el sexo?</h3>
      <p class="par-1 col-md-12">
          Para mi el sexo es sentir la santifacción de placer en todo el cuerpo, es despertar cada unas de esas emociones que se encuentran en lo más profundo de nuestros deseos carnales.
      </p>    
  </div>
</section>      
<section class="row">
  <h2 class="titu-2 col-md-12"><span>Mis Servicios</span></h2>
  <table class="table-1 col-md-4 col-xs-12">
      <tr>
        <td>Sexo Oral:</td><td>Si</td>
      </tr>
      <tr>
              <td>Sexo Anal:</td><td>No</td>
      </tr>
      <tr>
              <td>Servicio a Hombres:</td><td>Si</td>
      </tr>
      <tr>
              <td>Servicio a Mujeres:</td><td>No</td>
      </tr>
      <tr>
              <td>Lluvía Dorada:</td><td>Si</td>
      </tr>
      <tr>
              <td>Baila:</td><td>Si</td>
      </tr>
  </table>
  <table class="table-1 col-md-6 col-xs-12">
      <tr>
          <td>Tríos:</td><td>Si</td>
      </tr>
      <tr>
            <td>Trio HMH:</td><td>Si</td>
      </tr>
      <tr>
            <td>Trio MHM:</td><td>Si</td>
      </tr>
      <tr>
            <td>Masajes:</td><td>Si</td>
      </tr>
       <tr>
              <td>Encuentros:</td><td>Hotel / Residencia</td>
      </tr>
      <tr>
              <td>Fuera de servicio:</td><td>del 2 al 5 de cada mes</td>
      </tr>
  </table>
</section>
<section>
      <a href="#" class="btn-2 col-md-5 col-xs-12">Rechazada</a>
      <a href="#" class="btn-3 col-md-5 col-xs-12">Bienvenida al Club</a>
</section>