<div class="mensaje">
{% for m in verSolicitud %}
<header class="row fecha">
            <span class="dia col-md-12">{{ m.fecha}}</span>
</header>
<section class="row">
  <h2 class="titu-2 col-md-12"> <span>Datos Aromas</span></h2>
  <table class="table-1 col-md-4 col-xs-12">
      <tr>
        <td>Nombre:</td><td>{{m.nombre}}</td>
      </tr>
      <tr>
              <td>Sexo:</td><td>{{m.sexo}}</td>
      </tr>
  </table>
  <table class="table-1 col-md-6 col-xs-12">
      <tr>
        <td>Correo:</td><td colspan="4">{{m.correo}}</td>
      </tr>
      <tr>
              <td>Celular:</td><td>{{m.celular}}</td>
              <td>Ciudad:</td><td>{{m.ciudad}}</td>
      </tr>
  </table>
</section>
<section class="row">
  <h2 class="titu-2 col-md-12"><span>Descripción Aroma</span></h2>
  <p class="par-1">
    {{m.descripcion}}
  </p>
</section>
<section class="row">
  <h2 class="titu-2 col-md-12"><span>Perfil Aroma</span></h2>
  <table class="table-1 col-md-6 col-xs-12">
      <tr>
        <td>Edad:</td><td>{{m.edad}} años</td>
      </tr>
      <tr>
              <td>Estatura:</td><td>{{m.estatura}} cm</td>
      </tr>
      <tr>
              <td>Ojos:</td><td>{{m.ojos}}</td>
      </tr>
      <tr>
              <td>Píel:</td><td>{{m.piel}}</td>
      </tr>
      <tr>   
              {% if m.operaciones == 'Si' %}
              <td>Operaciones:</td>
              <td>
                  {% if m.nariz == 'Si' %}   
                    Naríz
                  {% endif %}
                  {% if m.labios == 'Si' %}   
                    Labios
                  {% endif %}
                  {% if m.senos == 'Si' %}   
                    Senos
                  {% endif %}
                  {% if m.abdomen == 'Si' %}   
                    Abdomen
                  {% endif %}
                  {% if m.cola == 'Si' %}   
                    Cola
                  {% endif %}
              </td>
              {% endif %}
              {% if m.operaciones == 'No' %}
              <td>Operaciones:</td><td>No</td>
              {% endif %}
      </tr>
      <tr>
              <td>Color Favorito:</td><td bgcolor="#{{m.colFavorito }}"></td>
      </tr>
      <tr>
              <td>Fecha de nacimiento:</td><td>{{m.cumple}}</td>
      </tr>
  </table>
  <table class="table-1 col-md-4 col-xs-12">
      <tr>
          <td>Peso:</td><td>{{m.peso}} Kg</td>
      </tr>
      <tr>
            <td>Senos:</td><td>{{m.senos}}</td>
      </tr>
      <tr>
            <td>Cabello:</td><td>{{m.cabello}}</td>
      </tr>
      <tr>
            <td>Tatuajes:</td><td>{{m.tatuajes}}</td>
      </tr>
  </table>
</section>
<section class="row">
  <h2 class="titu-2 col-md-12"><span>Perfil Sexual</span></h2>
  <table class="table-1 col-md-6 col-xs-12">
      <tr>
        <td>Experiencia:</td><td>{{m.experiencia}}</td>
      </tr>
      <tr>
            <td>Tiempo:</td><td>{{m.tiempo}}</td>
      </tr>
      <tr>
            <td>Actividad Sexual:</td><td>{{m.actividadSexual}}</td>
      </tr>
  </table>
  <div class="queEs">
      <h3 class="titu-3 col-md-12">¿Qué es el sexo?</h3>
      <p class="par-1 col-md-12">
          {{m.sexoEs}}
      </p>    
  </div>
</section>      
<section class="row">
  <h2 class="titu-2 col-md-12"><span>Mis Servicios</span></h2>
  <table class="table-1 col-md-4 col-xs-12">
      <tr>
        <td>Sexo Oral:</td><td>{{m.sexOral}}</td>
      </tr>
      <tr>
              <td>Sexo Anal:</td><td>{{m.sexAnal}}</td>
      </tr>
      <tr>
              <td>Servicio a Hombres:</td><td>{{m.sexHombre}}</td>
      </tr>
      <tr>
              <td>Servicio a Mujeres:</td><td>{{m.sexMujer}}</td>
      </tr>
      <tr>
              <td>Lluvía Dorada:</td><td>{{m.lluviaDorada}}</td>
      </tr>
      <tr>
              <td>Baila:</td><td>{{m.baile}}</td>
      </tr>
  </table>
  <table class="table-1 col-md-6 col-xs-12">
      <tr>
          <td>Tríos:</td><td>{{m.trios}}</td>
      </tr>
      <tr>
            <td>Trio HMH:</td><td>{{m.trioHMH}}</td>
      </tr>
      <tr>
            <td>Trio MHM:</td><td>{{m.trioMHM}}</td>
      </tr>
      <tr>
            <td>Masajes:</td><td>{{m.masaje}}</td>
      </tr>
       <tr>
              <td>Encuentros:</td><td>{{m.encuentro}}</td>
      </tr>
      <tr>
              <td>Fuera de servicio:</td><td>del {{m.desde}} al {{m.hasta}} de cada mes</td>
      </tr>
  </table>
</section>
<section>
      <a href="javascript:;" class="btn-2 filtro col-md-5 col-xs-12" data-id="{{m.id}}" data-estado="2">Rechazada</a>
      <a href="javascript:;" class="btn-3 filtro col-md-5 col-xs-12" data-id="{{m.id}}" data-estado="1">Bienvenida al Club</a>
</section>
</div>
{% endfor %}
<script>
      $(document).ready(function() {
// Realizamos el filtro de la solicitud "Aroma Aceptada" - "Aroma Rechazada"
                $('.filtro').click(function(){
                      var estado = $(this).data('estado');
                      var id = $(this).data('id');
                              $.get( 
                                  "../admin/filtroSolicitud.php",
                                  { estado: estado,
                                    id: id },
                                  function(data) {
                                        var respuesta = data;
                                        console.log(respuesta);
                                        switch (parseInt(respuesta)){
                                            case 1: 
                                                  $('.mensaje').slideDown().html('<h1>Nueva Aroma ingresada al Club, no olvides ingresar su nuevo nombre y los valores de su tarifa</h1>');
                                                  break;
                                            case 2: 
                                                  $('.mensaje').slideDown().html('<h1>Solicitu de Aroma Rechazada</h1>');
                                                  break;
                                        }
                                                  $('.cont-solicitud').removeClass('active');
                                                  $('.mensaje').removeClass('bounce animated').addClass('bounce animated');
                                                  $('.ocultar-'+id).slideUp();
                                        });
                                  });
                          });
</script>