      <header >
        <h2 class="encabezado-1">MENU PRINCIPAL</h2>
      </header>
      <ul class="list-menu">
        <li>
            <span class="ico">&nbsp;</span>
            <a href="#">Solicitud Aroma</a>
        </li> 
        <li>
            <span class="ico">&nbsp;</span>
            <a href="#">Vér Aromas</a>
        </li>
        <li>
            <span class="ico">&nbsp;</span>
            <a href="#">Tarifas Aromas</a>
        </li>
        <li>
            <span class="ico">&nbsp;</span>
            <a href="#">Buscar Aromas</a>
        </li>
        <li>
            <span class="ico">&nbsp;</span>
            <a href="#">Eliminar Aromas</a>
        </li>
      </ul>