{% extends "app.twig.html" %}

{% block solicitudes %}
      <header class="encabezado-1">
        <h2>SOLICITUDES PENDIENTE</h2>
        <span class="ico-solicitudes">&nbsp;</span>
      </header>
      <ul class="box-solicitud">
        <li>
          <header class="fecha">
            <span class="dia">01 JULIO DE 2015</span>
          </header>
          <article class="cont-solicitud">
              <div class="row-fluid">
                <td>Stefany Rodriguez</td>
                <td>ID: 01 <span class="ico-ciudad">&nbsp;</span></td>
              </div>
              <div class="row-fluid">
                <td>stefanyRodriguez-2015@hotmail.com</td>
              </div>
              <div class="row-fluid">
                <td>Sex: Femenino</td>
                <td>Cel: 3182567849</td>
              </div>
              <div class="row-fluid">
                <td>Ciudad: Barranquilla</td>
              </div>
          </article>
        </li>
        <li>
          <header class="fecha">
            <span class="dia">01 JULIO DE 2015</span>
          </header>
          <article class="cont-solicitud">
            <table class="tabla-1">
              <tr>
                <td>Stefany Rodriguez</td>
                <td>ID: 01 <span class="ico-ciudad">&nbsp;</span></td>
              </tr>
              <tr>
                <td>stefanyRodriguez-2015@hotmail.com</td>
              </tr>
              <tr>
                <td>Sex: Femenino</td>
                <td>Cel: 3182567849</td>
              </tr>
              <tr>
                <td>Ciudad: Barranquilla</td>
              </tr>
            </table>
          </article>
        </li>
      </ul>
{% endblock %}