      <header class="encabezado-1">
        <h2>SOLICITUDES PENDIENTE</h2>
        <span class="ico-solicitudes">&nbsp;</span>
      </header>
      <ul class="box-solicitud">
        <li>
          <header class="fecha">
            <span class="dia">10 JULIO DE 2015</span>
          </header>
          <table class="cont-solicitud active">
              <tr>
                <td class="nombre">Stefany Rodriguez</td>
                <td class="id">ID: 01 <span class="ico-ciudad">&nbsp;</span></td>
              </tr>
              <tr>
                <td class="mail" colspan="2">stefanyRodriguez-2015@hotmail.com</td>
              </tr>
              <tr>
                <td class="data-1">Sex: Femenino</td>
                <td class="data-1">Cel: 3182567849</td>
              </tr>
              <tr>
                <td class="data-1" colspan="2">Ciudad: Bogotá</td>
              </tr>
          </table>
        </li>
        <li>
          <header class="fecha">
            <span class="dia">05 JULIO DE 2015</span>
          </header>
          <table class="cont-solicitud">
              <tr>
                <td class="nombre">Diana Borguez</td>
                <td class="id">ID: 01 <span class="ico-ciudad">&nbsp;</span></td>
              </tr>
              <tr>
                <td class="mail" colspan="2">stefanyRodriguez-2015@hotmail.com</td>
              </tr>
              <tr>
                <td class="data-1">Sex: Femenino</td>
                <td class="data-1">Cel: 3182567849</td>
              </tr>
              <tr>
                <td class="data-1" colspan="2">Ciudad: Bogotá</td>
              </tr>
          </table>

        </li>
        <li>
          <header class="fecha">
            <span class="dia">03 JULIO DE 2015</span>
          </header>
          <table class="cont-solicitud">
              <tr>
                <td class="nombre">Laura Melgarejo</td>
                <td class="id">ID: 01 <span class="ico-ciudad">&nbsp;</span></td>
              </tr>
              <tr>
                <td class="mail" colspan="2">stefanyRodriguez-2015@hotmail.com</td>
              </tr>
              <tr>
                <td class="data-1">Sex: Femenino</td>
                <td class="data-1">Cel: 3182567849</td>
              </tr>
              <tr>
                <td class="data-1" colspan="2">Ciudad: Barranquilla</td>
              </tr>
          </table>
          
        </li>
        <li>
          <header class="fecha">
            <span class="dia">02 JULIO DE 2015</span>
          </header>
          <table class="cont-solicitud">
              <tr>
                <td class="nombre">Daniela Hernandes</td>
                <td class="id">ID: 01 <span class="ico-ciudad">&nbsp;</span></td>
              </tr>
              <tr>
                <td class="mail" colspan="2">stefanyRodriguez-2015@hotmail.com</td>
              </tr>
              <tr>
                <td class="data-1">Sex: Femenino</td>
                <td class="data-1">Cel: 3182567849</td>
              </tr>
              <tr>
                <td class="data-1" colspan="2">Ciudad: Barranquilla</td>
              </tr>
          </table>
          
        </li>
        <li>
          <header class="fecha">
            <span class="dia">01 JULIO DE 2015</span>
          </header>
          <table class="cont-solicitud">
              <tr>
                <td class="nombre">Karoll Paez</td>
                <td class="id">ID: 01 <span class="ico-ciudad">&nbsp;</span></td>
              </tr>
              <tr>
                <td class="mail" colspan="2">stefanyRodriguez-2015@hotmail.com</td>
              </tr>
              <tr>
                <td class="data-1">Sex: Femenino</td>
                <td class="data-1">Cel: 3182567849</td>
              </tr>
              <tr>
                <td class="data-1" colspan="2">Ciudad: Medellin</td>
              </tr>
          </table>
          
        </li>
        <li>
          <header class="fecha">
            <span class="dia">01 JULIO DE 2015</span>
          </header>
          <table class="cont-solicitud">
              <tr>
                <td class="nombre">Sussana Villaloba</td>
                <td class="id">ID: 01 <span class="ico-ciudad">&nbsp;</span></td>
              </tr>
              <tr>
                <td class="mail" colspan="2">stefanyRodriguez-2015@hotmail.com</td>
              </tr>
              <tr>
                <td class="data-1">Sex: Femenino</td>
                <td class="data-1">Cel: 3182567849</td>
              </tr>
              <tr>
                <td class="data-1" colspan="2">Ciudad: Barranquilla</td>
              </tr>
          </table>
          
        </li>
      </ul>
