      <section class="tools">
          <div class="paleta">
                <span class="c1">cg1</span>
                <span class="c2">cg2</span>
                <span class="c3">cg3</span>
                <span class="c4">cg4</span>
                <span class="c5">cg5</span>
                <span class="c6">cg6</span>
                <span class="c7">cg7</span>
                <span class="c8">cg8</span>
                <span class="c9">cg9</span>
                <span class="c10">cr1</span>
                <span class="c11">cr2</span>
                <span class="c12">cr3</span>
          </div>
      </section>