<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>La Perfumeria Club</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/jquery.circliful.css" rel="stylesheet">
  <link href="css/perfume.css" rel="stylesheet">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
</head>
  <body>
<div id="cont-perfumeria" class="container-fluid">
      <header class="encabezado">
      <h1 class="logo"><img src="images/logo_perfumeria.png" alt="La Perfumeria Club"></h1>
      <nav class="menu-1">
        <div class="cont-a">
          <a href="#">Inicio</a>
          <a href="#">Aromas</a>
          <a href="#">Politicas</a>
          <a href="#">Contacto</a>
        </div>
      </nav>
    </header>
      <div class="row">
        <div class="col-xs-12 col-sm-2 box-cont">
                    {% block listadoAromas%}             {% endblock %}
      </div>
      <div class="col-xs-12 col-sm-2 box-cont">
                    {% block perfilAroma%}             {% endblock %}
      </div>
        </div>
</div>

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/holder.min.js"></script>
<script src="js/jquery.circliful.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/perfume.js"></script>

  <body>
</html>
