{% extends "mainLayer.twig.html" %}

{% block inicio %}
   <section id="home" class="home-section" data-background="images/full-width-images/section-bg-1.jpg">
                    <!-- Hero Content -->
                    <div class="container relative">
                        <div class="home-text mb-50 mb-sm-20">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 mb-sm-50 mb-xs-30 col-1">
                                <div class="vidResp video-1">
                                    <iframe width="760" height="315" src="https://www.youtube.com/embed/gWePS2V6opQ" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 mb-sm-50 mb-xs-30 col-2">
                                <p class="par-1">
                                    Movistar TU Go es la nueva aplicación con la que podrás estar siempre conectado con Colombia, y comunicarte con tus familiares o amigos sin indicativos, desde cualquier dispositivo y por el precio de una llamada local.
                                </p>
                                <div class="box-promo">
                                    <div class="cont-promo">
                                                <span class="text-1">Recibe</span>
                                                <span class="text-2">100 minutos</span>
                                                <span class="text-2">GRATIS.</span>
                                                <a href="#" class="btn-1">Actívalo aquí</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <br>
                    </div>
                    <!-- End Hero Content -->
                    
                    <!-- Scroll Down -->
                    <div class="local-scroll">
                        <a href="#queEs" class="scroll-down">
                                    <img src="images/icoArrow.png" alt="" class="fa fa-angle-down scroll-down-icon">    
                        </a>
                    </div>
                    <!-- End Scroll Down -->
          </section>
{% endblock %}