<section class="page-section pb-0" id="membresia" data-background="images/full-width-images/section-bg-2.jpg">

                <div class="container relative">
                    <div class="container relative">
                    <h2 class="tituloH1">
                        Nuestras Membresias
                    </h2>
                    <div class="section-text mb-50 mb-sm-20">
                        <div class="row">
                            <div class="col-md-8 col-1">
                                    <p class="par-2">
                                        Encuentra el plan que más se adapte a ti y comienza a disfrutar de las ventajas de llamar siempre con un mismo número, desde cualquier lugar y a un mismo precio.
                                    </p>
                                    <div class="box-info">
                                        <img class="img-1" src="images/celular.png" alt="">
                                        <div class="box-promo">
                                            <div class="cont-promo">
                                                        <span class="text-1">Actívalo y recibe</span>
                                                        <span class="text-2">100 minutos</span>
                                                        <span class="text-2">GRATIS.</span>
                                            </div>
                                        </div>
                                    </div>
                                   <p class="legal-1">
                                    *Valor en $US está calculado con una TRM de $2.500 pesos colombianos.
                                </p>
                            </div>
                            <div class="col-md-4 col-2">
                                   <div class="cont-planes">
                                       <div class="box-plan">
                                           <header>
                                                <h2 class="titu-1">Plan Parientes</h2>
                                                <a href="#" class="btn-2">Actívalo aquí</a>
                                           </header>
                                           <article>
                                                <div class="box-precio">
                                                    <h2 class="valor-1">
                                                        <span class="signo">$</span>
                                                        <span class="precio">12.500</span>
                                                        <span class="mes">mes <br> (COP)</span>
                                                    </h2>
                                                    <span class="div">/</span>
                                                    <h2 class="valor-2">
                                                        <span class="signo">$</span>
                                                        <span class="precio">5</span>
                                                        <span class="mes">mes <br> (USD*)</span>
                                                    </h2>
                                                </div>
                                                <div class="cerrar">
                                                    <a href="javascript:;" class="ver-1">Ver más +</a>
                                                </div>
                                               <ul class="list-1 verList-1" style="display:none">
                                                   <li>Minutos Incluidos Todo Destino <span>100</span></li>
                                                   <li>SMS Incluidos Todo Destino <span>50</span></li>
                                                   <li>Valor Minuto Incluido <span>$125</span></li>
                                               </ul>
                                           </article>
                                       </div>
                                       <div class="box-plan">
                                           <header>
                                                <h2 class="titu-1">Plan Amigos</h2>
                                                <a href="#" class="btn-2">Actívalo aquí</a>
                                           </header>
                                           <article>
                                                <div class="box-precio">
                                                    <h2 class="valor-1">
                                                        <span class="signo">$</span>
                                                        <span class="precio">25.000</span>
                                                        <span class="mes">mes <br> (COP)</span>
                                                    </h2>
                                                    <span class="div">/</span>
                                                    <h2 class="valor-2">
                                                        <span class="signo">$</span>
                                                        <span class="precio">10</span>
                                                        <span class="mes">mes <br> (USD*)</span>
                                                    </h2>
                                                </div>
                                                <div class="cerrar">
                                                    <a href="javascript:;" class="ver-2">Ver más +</a>
                                                </div>
                                               <ul class="list-1 verList-2" style="display:none">
                                                   <li>Max. Minutos Multidestino <span>250</span></li>
                                                   <li>SMS a Todo Destino <span>200</span></li>
                                                   <li>Valor Minutos Incluido Multidestino <span>$100</span></li>
                                               </ul>
                                           </article>
                                       </div>
                                       <div class="box-plan">
                                           <header>
                                                <h2 class="titu-1">Plan Trabajo</h2>
                                                <a href="#" class="btn-2">Actívalo aquí</a>
                                           </header>
                                           <article>
                                                <div class="box-precio">
                                                    <h2 class="valor-1">
                                                        <span class="signo">$</span>
                                                        <span class="precio">45.000</span>
                                                        <span class="mes">mes <br> (COP)</span>
                                                    </h2>
                                                    <span class="div">/</span>
                                                    <h2 class="valor-2">
                                                        <span class="signo">$</span>
                                                        <span class="precio">18</span>
                                                        <span class="mes">mes <br> (USD*)</span>
                                                    </h2>
                                                </div>
                                                <div class="cerrar">
                                                    <a href="javascript:;" class="ver-3">Ver más +</a>
                                                </div>
                                               <ul class="list-1 verList-3" style="display:none">
                                                   <li>Max. Minutos Multidestino <span>500</span></li>
                                                   <li>SMS a Todo Destino <span>400</span></li>
                                                   <li>Valor Minutos Incluido Multidestino <span>$90</span></li>
                                               </ul>
                                           </article>
                                       </div>
                                   </div>
                            </div>
                                   <!-- Scroll Down -->
                                        <div class="local-scroll">
                                            <a href="#videos" class="scroll-down scroll-2">
                                                        <img src="images/icoArrow2.png" alt="" class="fa fa-angle-down scroll-down-icon">    
                                            </a>
                                        </div>
                                    <!-- End Scroll Down -->
                        </div>
                    </div>
                </div>
                </div>
</section>