{% extends "layout.twig.html" %}

{% block title %}{{ marca }} | {{ parent() }} {% endblock %}

{% block subtitulo %}
  Moviles {{ marca }}
{% endblock %}

{% block parrafo %}
   <p>
        Este es un nuevo parrafo
   </p>
{% endblock %}

{% block contenido %}
  <ul>
    {% for m in moviles %}
      <li>
        {{ m.nombre }}
        <br />
        <a href="images/{{ m.imagen }}">
          <img src="images/{{ m.imagen }}" alt="{{ m.nombre }}" class="imagen" />
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}