{% extends "aromas.twig.html" %}

{# ------------------------------ [ Aqui mostramos el listado de Aromas disponible ] #}

{% block listadoAromas2%}
    {% for m in datos %}
                  <div class="box-aroma e{{m.tipo_post}} ">
                  <header>
                            <span  class="label">{{ m.ciudad}}</span>
                  </header>
                  <figure>
                    <div class="box-ver">
                            ¡Disfruta de un grán placer!
                    </div>
                    <img src="admin/imagenes/aromas/{{ m.imagen }}">
                  </figure>
                  <article class="cont-info">
                    <h2>{{m.aroma}}</h2>
                    <h3>{{m.definicion}}</h3>
                    <a href="aroma.php?aroma={{ m.id }}" class="btn-1">Ver aroma</a>
                  </article>
              </div>
    {% endfor %}
{% endblock %}
