<!DOCTYPE html>
<html>
    <head>
        <title>{% block titulo %} La Perfumeria Club {% endblock%}</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <meta name="author" content="Roman Kirichik">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        
        <!-- Favicons -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        
<!-- [ Styles ] .......................................................................................................................................................................................................  -->
        {% block estilos %}
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style-responsive.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/vertical-rhythm.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/fonts_movi.css">        
        <link rel="stylesheet" href="css/magnific-popup.css">        
        <link rel="stylesheet" href="css/jquery.bxslider.css">        
        <link rel="stylesheet" href="css/style.css">
        {% endblock%}
<!-- [ End Scripts ] .......................................................................................................................................................................................................  -->
    </head>
    <body class="appear-animate">
     <!-- [ Main menu ] .......................................................................................................................................................................................................  -->
            <nav class="main-nav dark stick-fixed">
                <div class="full-wrapper relative clearfix">
                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <a href="#top" class="logo">
                            <img src="images/logo_perfumeria.png" alt="" />
                        </a>
                    </div>
                    <div class="mobile-nav">
                        <i class="fa fa-bars"></i>
                    </div>
                    <!-- Main Menu -->
                    <div class="inner-nav desktop-nav">
                        <ul class="clearlist scroll-nav local-scroll">
                            <li><a href="aromas.php">Volver al listado de nuestras Aromas</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
 <!-- [ End Main menu ] .......................................................................................................................................................................................................  -->
{# ------------------------------ [ Aqui mostramos el perfil de la  Aroma selecionada ] #}
{% block perfilAroma %}
    {% for m in datos %}
    <section class="page-section" id="verAroma" data-background="images/full-width-images/section-bg-1.jpg">
                <div class="container relative">
                    <div class="section-text mb-50 mb-sm-20">
                        <div class="row">
                            <div class="col-md-6">
                          <ul class="bxslider">
                            <li> <img src="admin/imagenes/aromas/{{ m.foto1 }}"  style="width:100%"> </li>
                            <li> <img src="admin/imagenes/aromas/{{ m.foto2 }}"  style="width:100%"> </li>
                            <li> <img src="admin/imagenes/aromas/{{ m.foto3 }}"  style="width:100%"> </li>
                            <li> <img src="admin/imagenes/aromas/{{ m.foto4 }}"  style="width:100%"> </li>
                          </ul>
              </div>
              <div class="col-md-4 col-22">
                              <h2 class="tituloH1B mb-70 mb-sm-40">
                                Hola Soy {{m.nombre}}
                          </h2>
                <div class="table-responsive">
                  <table class="table">
                    <tr><td>Sexo:</td><td>{{m.sexo}}</td></tr>
                    <tr><td>Edad:</td><td>{{m.edad}} años</td></tr>
                    <tr><td>Cabello:</td><td>{{m.cabello}}</td></tr>
                    <tr><td>Ojos:</td><td>{{m.ojos}}</td></tr>
                    <tr><td>Piel:</td><td>{{m.piel}}</td></tr>
                    <tr><td>Estatura:</td><td>{{m.estatura}} Cm</td></tr>
                    <tr><td>Busto:</td><td>{{m.busto}}</td></tr>
                    <tr><td>Peso:</td><td>{{m.peso}} Kg</td></tr>
                    <tr><td>Idiomas:</td><td>{{m.idiomas}}</td></tr>
                    <tr><td>Tatuajes:</td><td>{{m.tatuajes}}</td></tr>
                  </table>
                </div>
              </div>
              </div>
              <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4 col-12">
                              <h2 class="tituloH1B mb-70 mb-sm-40">Mis Servicios</h2>
                              <div class="table-responsive">
                                <table class="table table-2">
                                  <tr><td>Sexo Oral:</td><td>{{m.sexOral}}</td></tr>
                                  <tr><td>Sexo Anal:</td><td>{{m.sexAnal}}</td></tr>
                                  <tr><td>Atención a Hombres:</td><td>{{m.sexHombre}}</td></tr>
                                  <tr><td>Atención a Mujeres:</td><td>{{m.sexMujer}}</td></tr>
                                  <tr><td>Trío MHM:</td><td>{{m.trioMHM}}</td></tr>
                                  <tr><td>Trío HMH:</td><td>{{m.trioHMH}}</td></tr>
                                  <tr><td>Baile  Eroticos</td><td>{{m.baile}}</td></tr>
                                  <tr><td>Lluvia Dorada</td><td>{{m.lluviaDorada}}</td></tr>
                                </table>
                              </div>
                            </div>
                             <div class="col-md-1"></div>
              <div class="col-md-4 col-22">
               <h2 class="tituloH1B mb-70 mb-sm-40">Tarifas</h2>
                  <div class="table-responsive">
                    <table class="table table-3">
                      <tr><td>1 Hora:</td><td>${{m.valorHora}}</td></tr>
                      <tr><td>2 Horas:</td><td>${{m.valor2Hora}}</td></tr>
                      <tr><td>2 Horas:</td><td>${{m.valor3Hora}}</td></tr>
                      <tr><td>Un Día:</td><td>${{m.valorDia}}</td></tr>
                      <tr><td>Encuentro:</td><td>{{m.encuentro}}</td></tr>
                    </table>
                  </div>
                          <a class="btn-1 open-popup-link" href="#test-popup">Quiero esta Aroma!</a>
              </div>
              </div>
              <div class="row col-md-12">
                <p class="par-1">
                    En La Perfumería Club encontrarás información detallada de cada una de nuestras dulces y sensuales Aromas contando con fotografías profesionales de alta calidad, actuales y 100% reales, garantizando así que al momento del encuentro la modelo sea la deseada. Son las más selectas y todas nuestras dulces Aromas son mayores de edad, modelos o universitarias, que realizan la actividad de escorts de forma voluntaria, discreta y esporádica.
                </p>
              </div>
              </div>
              </div>
</section>
    {% endfor %}
{% endblock %}
<!-- [ Scripts ] .......................................................................................................................................................................................................  -->
        {% block scripts %}
        <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>        
        <script type="text/javascript" src="js/SmoothScroll.js"></script>
        <script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="js/jquery.localScroll.min.js"></script>
        <script type="text/javascript" src="js/jquery.viewport.mini.js"></script>
        <script type="text/javascript" src="js/jquery.countTo.js"></script>
        <script type="text/javascript" src="js/jquery.appear.js"></script>
        <script type="text/javascript" src="js/jquery.sticky.js"></script>
        <script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
        <script type="text/javascript" src="js/jquery.fitvids.js"></script>
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="js/jquery.simple-text-rotator.min.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
        <script type="text/javascript" src="js/jquery.ajaxchimp.min.js"></script>       
        <script type="text/javascript" src="js/jquery.bxslider.min.js"></script>       
        <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
        <script>
            $(document).ready(function(){
              $('.bxslider').bxSlider();
            });
        </script>
        {% endblock %}

<!-- [ End Scripts ] .......................................................................................................................................................................................................  -->
    </body>
</html>



